*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.dta
*.dbf
*.xml
*.cpg
*.shp
*.shx
*.sbx
*.sbn
*.prj
*.atx
*.xml
*.svg
*.pdf
*.rds
*.csv
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.txt
*.zip
*.7z
*.rar
*.geojson